body {
    box-sizing: border-box;
    font-family: "Poppins, sans-serif";
}

.container {
    margin: auto;
}

.header {
    text-align: center;
    padding: 3vh;    
}

.form {
background-color: rgb(36, 36, 68, .9);
padding: 20px;
width: 50%;

}

.input-name {
    color: #ffffff;
}